In [ ]:
# function to scrape the height from the URLs
def ScrapeHeight(URL):
  
  #the libraries im using
  import requests
  from bs4 import BeautifulSoup
  
  #grabbing data from the page
  page=requests.get(URL)
  soup=BeautifulSoup(page.content,"html.parser")
  scrapped_height=soup.findAll("span",class_="sidearm-roster-player-height")
  
  # the temporary list taht will be needed to store the heights
  string_temp_height_list=[]
  heights_in_inches=[]
  string_temp_height_lists=[]
  
  #putting all the height.text into the string_temp_height_list 
  for height in scrapped_height:
    string_temp_height_list.append(height.text)
  
  # X will store half the length of the number of values in the string_temp_height_list
  X=int(len(string_temp_height_list)/2)

  # since the string_temp_height_list contains duplicate data I deleted half the list
  del string_temp_height_list[X:]


  return string_temp_height_list

#this Funciton scrapes the name from the URLs
def ScrapeName(URL):
  
  #the libraries ill be using 
  import requests
  from bs4 import BeautifulSoup

  #grabing the data
  page=requests.get(URL)
  soup=BeautifulSoup(page.content,"html.parser")

  players=soup.findAll("h3")

  #temp list
  player_name_list=[]

  #cleaning the data
  for players_names in players:
    players_names=players_names.text
    players_names=players_names.strip()
    player_name_list.append(players_names)

  #since the beginning of the data start with Player instead of an actual name and the last 3 values are also not names i had to delete the data
  del player_name_list[0]
  del player_name_list[-3:]

  return player_name_list

#this function converts the values i got from ScrapeHeight into integer inches
def Scrapeheight_toInches(ScrapedHeight):

  temp_list=[]
  heights_in_inches=[]

  for height in ScrapedHeight:
    temp_list.append(height.replace('"',''))
  
  for i in range(0, len(temp_list)):
  #splitting the raw string on the '

    x = temp_list[i].split("'")
  #extracting the feet from the splitted list and converting to int

    feet = int(x[0])
  #converting the feet to inches by mulitplying it by 12

    feet_as_inches = feet * 12
  ##extracting the inches from the splitted list and converting to int

    inches = int(x[1])
  #calculating the total height inches

    total_height_in_inches =  feet_as_inches + inches

  #appending the converted height to a new list
    heights_in_inches.append(total_height_in_inches)
  #returns the list in heights of inches
  return(heights_in_inches)


#Function to turn inches into centimeters
def centimeters(x):
  
  temp_list=[]
  for i in x:
    temp_list.append(i*2.54)
  
  return temp_list


# This funciton will flatten the nested list 
def oneList(GiveMeList):
  
  final_list=[]
  #using a nested loop i can flatten the nested list
  for Lists in GiveMeList:
    for item in Lists:
      final_list.append(item)
  return final_list


# This FUNCTION has all the other functions in it so i would only need to call this function in order to scrape the data and create a dataframe out of it 
def dataframe_creation(URLs):
  # temporary list
  name_list=[]
  height_list=[]
  
  #im using a for function that will make use of the 5 functions that i had created which will return me the name and the height in centimeters
  for url in URLs:
    height_list.append(centimeters(Scrapeheight_toInches(ScrapeHeight(url))))
    name_list.append(ScrapeName(url))
  
  height=(oneList(height_list))
  length_height=len(height)
  name=(oneList(name_list))
  del name[length_height:]

  # Using the pandas library i can create a dataframe from the name_list and height_list
  import pandas as pd

  df=pd.DataFrame()
  df['Players']=name
  df['Height']=height

  return df

In [ ]:
#list of websites containing informaiton about men volleyball
men_volleyball_URL=["https://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster/2019","https://athletics.baruch.cuny.edu/sports/mens-volleyball/roster","https://yorkathletics.com/sports/mens-volleyball/roster"]

#using the dataframe_creation funciton, i scrapped all the names and height from the URLs in men_volleyball_URL and created a dataframe out of it
men_volleyball_df=dataframe_creation(men_volleyball_URL)

#I made a csv file with the dataframe and called it Men_VolleyBall csv
men_volleyball_df.to_csv("Men_VolleyBall.csv")

In [ ]:
women_volleyball_URL=["https://www.brooklyncollegeathletics.com/sports/womens-volleyball/roster/2019","https://athletics.baruch.cuny.edu/sports/womens-volleyball/roster","https://johnjayathletics.com/sports/womens-volleyball/roster"]

women_volleyball_df=dataframe_creation(women_volleyball_URL)

women_volleyball_df.to_csv("women_VolleyBall.csv")

In [ ]:
men_swimming_URL=["https://yorkathletics.com/sports/mens-swimming-and-diving/roster","https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster","https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster"]

men_swimming_df=dataframe_creation(men_swimming_URL)

men_swimming_df.to_csv("Men_swimming.csv")

In [ ]:
women_swimming_URL=["https://queensknights.com/sports/womens-swimming-and-diving/roster","https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster","https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster"]

women_swimming_df=dataframe_creation(women_swimming_URL)

women_swimming_df.to_csv("women_swimming.csv")

In [ ]:
#all the dataframes are now in a list
dataframes=[men_volleyball_df,women_volleyball_df,men_swimming_df,women_swimming_df]

#this for loops prints out the average height of each list
for item in dataframes:
  print(item["Height"].mean())

182.88000000000005
169.46358974358978
179.79081081081085
163.576

In [ ]:
# this for loop prints out the top 5 tallest athlete from each dataframe 
for item in dataframes:
  print(item.sort_values(by='Height',ascending=False).iloc[0:5])
  print("\n")

                Players  Height
21     Leon Petrovitsky  195.58
18         Artem Zinkin  195.58
30          Akil Vaughn  195.58
20     Carlos Rodriguez  193.04
37  Guillermo Hernandez  193.04


            Players  Height
30   Paige Sadowitz  187.96
37  Johnelle Pierre  185.42
21  Julia Perkowski  182.88
31     Rylea Sandel  182.88
29      Faith Harer  182.88


             Players  Height
14      Kasper Gacek  195.58
34   Mark  MacEachen  193.04
13  Yousef  Elkhouly  190.50
21      William Rose  187.96
4    Antonio Josephs  187.96


             Players  Height
24       Anna Curran  180.34
28  Natalia Mrzyglod  175.26
7     Kristen Flores  175.26
17     Katherine Lee  175.26
6      Jillian Etnel  172.72

In [ ]:
# this for loop prints out the shortest 5 athlete from each dataframe
for item in dataframes:
  print(item.sort_values(by='Height',ascending=True).iloc[0:5])
  print("\n")

              Players  Height
32  Jayden Deokinanan  162.56
0       Snigdho Hasan  165.10
27     Juan Rodriguez  167.64
26         John Vitor  167.64
28       Shawn Nemoto  170.18


                     Players  Height
18               Young Gi Go  152.40
25               Taylor Hunt  154.94
9   Savanna Koutsakis-Keener  154.94
20                 Sofia Tam  157.48
6                 Laurie Lee  157.48


               Players  Height
23          Ben Sionov  167.64
3       Anthony Jordan  170.18
5   Christopher Mendez  170.18
0       Tiâ€™Juan Boothe  172.72
33  Konstantin Lomeyko  172.72


               Players  Height
9         Bianca Hiltz  149.86
0    Rupakshi Aggarwal  154.94
25  Rachel  Davidovich  154.94
5      Natalia Cuttler  154.94
14   Joscelyn  Galindo  154.94